.cookie-msg-modal,
.cookie-msg-warning-modal {
  position: relative;
  width: 32.5em;
  height: 17em;
}

.cookie-msg-warning-modal .modal-title {
  text-align: center;
  color: #ff5c00;
  margin: 1em 0;
}

.half {
  filter: drop-shadow(0 3.5px 2.3px rgb(177, 177, 177));
}

.cookie-left-half {
  height: 75px;
  position: relative;
  bottom: -5px;
}

.cookie-right-half {
  height: 70px;
  position: relative;
  bottom: 1px;
}

.cookie-message {
  background-color: #e6e6e6;
  margin: 0 1em;
  padding: 0.5em 1.5em;
  text-align: center;
  /* display: none; */
}
