.trivia-modal {
  position: relative;
  padding: 2em 4em;
  max-width: 40em;
  /* height: 19em; */
}

.response-modal,
.waiting-modal {
  position: relative;
  /* padding: 2em 4em; */
  width: 32.5em;
  min-height: 18.5em;
}

.trivia-modal .modal-subtitle {
  font-size: 0.8em;
}

.trivia-modal .question {
  margin: 1.5em 0;
  font-weight: 700;
  text-align: center;
}

.trivia-modal form {
  width: 100%;
}

.trivia-modal label {
  font-weight: 700;
  margin-right: 1em;
}

.trivia-modal input {
  margin-bottom: 3.8em;
}

.trivia-modal button {
  margin-left: 1em;
}

.trivia-btn-set {
  position: absolute;
  bottom: 1em;
  right: 1.5em;
}

/* .response-modal {
  position: relative;
  padding: 2em 4em;
} */

.response-modal > .modal-title {
  margin: 1em 0;
}

.plus-cookie-group > img {
  width: 4em;
  height: 4em;
  margin-right: 1em;
}

.plus-cookie-group > div {
  font-size: 35px;
  font-weight: 800;
}

.loading-circle {
  height: 50%;
}

.wrong-answer-tip {
  color: #ff2e2e;
  font-weight: 600;
  font-size: 0.8em;
  /* text-transform: uppercase; */
}

@media (max-width: 767px) {
  .trivia-modal {
    width: 80vw;
  }
}

@media (max-width: 575px) {
  .trivia-modal {
    padding: 3em 2.3em;
  }
}
