.welcome-modal {
  position: relative;
  padding: 2.8em;
}

.welcome-modal form {
  margin-top: 1.5em;
  margin-bottom: 2em;
  width: 100%;
}

.welcome-modal form label {
  font-weight: 700;
}

.welcome-modal button.blue {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
