.header {
  justify-content: space-between;
  align-items: flex-start;
}

.app-title {
  font-size: 1.3em;
  font-weight: 900;
  background-color: #ffea31;
  color: #ff5c00;
}

.header-controls {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  align-items: flex-start;
}

.header-controls > .flex {
  align-items: flex-start;
}

.cookie-count-group,
.total-earned-group {
  margin-left: 3.2em;
}

.header-control-num {
  font-size: 28px;
}

/* The whole cookie img & the star badge graphic */
.cookie-count-group img,
.star-badge {
  width: 3.3em;
  height: 3.3em;
  margin-right: 1em;
}

/* The star badge graphic */
.star-badge {
  background: url("../graphic-assets/original/Star\ badge.svg") no-repeat center / contain;
  color: #fff;
  font-weight: 800;
}

.cookie-count-group img {
  filter: drop-shadow(0 3.5px 2.3px rgb(177, 177, 177));
}

.total-earned-group img {
  height: 3.9em;
  margin-top: -8px;
}

@media (max-width: 1400px) {
  .cookie-count-group,
  .total-earned-group {
    margin-left: 2em;
  }

  .header-controls {
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  .cookie-count-group,
  .total-earned-group {
    margin-left: 1em;
  }

  .app-title {
    margin-right: 2em;
    font-size: 1.1em;
  }

  .header-controls {
    font-size: 17px;
  }

  .total-earned-group img {
    margin-right: -0.25em;
  }
}

@media (max-width: 991px) {
  .header-controls {
    font-size: 15.5px;
  }
}

@media (max-width: 767px) {
  .total-earned-group {
    display: none;
  }

  .header-control-num {
    font-size: 22px;
  }

  .app-title {
    font-size: 1em;
  }
}

@media (max-width: 575px) {
  .star-badge-group > .header-control-desc {
    display: none;
  }
}
